{% extends "layout.html" %}
{% block body %}
<h1>About BraSniper</h1>
<h3>BraSniper was created by Ashley Weaver at PennApps Spring 2014</h3>
<p style="width:850px">I created this site because I wanted to automate my search for the perfect bra.  Because my bra size is not often sold in stores, I have to buy most of my bras online.  However, this can get costly - bras can be very expensive and may need to be shipped from overseas.  The subreddit <a href="http://www.reddit.com/r/braswap/">/r/braswap</a> helps with this by connecting buyers and sellers.  My website will email a user from bot@brasniper.com when a new thread is posted selling a bra in their size.</p>
{% endblock %}