{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<h1>Welcome to BraSniper!</h1>
<form method=post action="/">
  <dl>
    {{ render_field(form.email) }}
    {{ render_field(form.sizes) }}
  </dl>
  <p><input type=submit value=Subscribe>
</form>
<p>Please be advised: the bot will only find posts selling exactly the size(s) you tell it.</p>
<p>For example, if you put EU sizes, it will not return any UK sizes.</p>
<p>It is advisable to put both EU and UK sizes to get the most results.</p>
{% endblock %}